body {
	cursor: url("cur01.cur"), auto;
	background-image: url("worldmap.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#worldmap {
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

#language_select{
	margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;	
	position: fixed;
	bottom: 0;
	height: 30px;
	right: 0; 
	width: 360px;
	background-color: #1144A0;
}

.language_button {
	background-color: #3388DD;
	border-radius: 6px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 20px;
	top: 0;
	height: 28px;
	width: 175px;
	color: white;
	font-size: medium;
	font-weight: bold;
}

